* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head {
  color: white;
  font-family: 'Montserrat';
  font-size: 4rem;
}

.footer {
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
  bottom: 0;
}

.box {
  display: flex;
  flex-direction: column;
  width: 275px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: height 0.3s ease;
  word-wrap: break-word;
}

.title {
  margin: 5px 0;
  font-size: 2rem;
  padding: 0 20px;
}

.para {
  font-size: 1rem;
  padding: 0 20px 10px;
}

.create-note-form {
  position: relative;
  width: 482px;
  margin: 30px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  transition: all 0.3s ease;
  cursor: pointer;
}

.create-note-form.collapsed {
  width: 300px;
  padding: 10px;
  cursor: pointer;
}

.create-note-form.expanded {
  width: 482px;
  padding: 15px;
  cursor: default;
}

.create-note-form input,
.create-note-form textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  margin: 0;
  font-size: 1rem;
  resize: none;
}

.create-note-form button {
  position: absolute;
  border: none;
  color: white;
  background-color: #f5ba13;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-note-form button:hover {
  background-color: #f0a500;
}


.Delete{
  border: none;
  color: #f5ba13;
  font-size: 1.3rem;
  width: 150px;
  position: relative;
  left: 100px;
  background: none;
}